/* Custom styles */

body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    margin-bottom: 0;
    background-color: #f8f8f8;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .section {
    margin-bottom: 50px;
  }
  
  .section-heading {
    margin-top: 30px;
    font-weight: bold;
    color: #333;
  }
  
  .tall-section {
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .section-para {
    font-size: 18px;
    padding: 20px;
  }
  
  .back-to-top {
    display: block;
    text-align: right;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
  }
  
  .back-to-top:hover {
    text-decoration: none;
    color: #555;
  }
  